
<div >
<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: black">
  <a class="navbar-brand" style="color: white">&nbsp;&nbsp;<i class="fas fa-people-carry"></i>&nbsp;&nbsp;Urban Clap</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="../servi">Manage Services <span class="sr-only">(current)</span></a>
      </li>


      <li class="nav-item active">
        <a class="nav-link" data-toggle="modal" data-target="#exampleModal" style="cursor: pointer">Profile <span class="sr-only">(current)</span></a>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" *ngFor="let data of servicedata">
                <p><b>Name&nbsp; :</b>&nbsp;&nbsp;{{data.name}}</p>
                <p>------------------------</p>
                <p><b>Mobileno&nbsp; :</b> &nbsp;&nbsp;    {{data.mobileno}}</p>
                <p>------------------------</p>
                <p><b>Photo&nbsp; : </b>&nbsp;&nbsp;   <img src="http://localhost:3000/{{data.photo}}" style="height: 80px"></p>
                <p>------------------------</p>
                <p><b>Discription&nbsp;: </b>&nbsp;&nbsp;    {{data.discription}}</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModa">Update</button>
              </div>
            </div>
          </div>
          <div class="modal fade" id="exampleModa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabe" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabe">Update Profile</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" *ngFor="let data of servicedata">
                  <form #usersignupform="ngForm" (ngSubmit)="saveuserdata(usersignupform.value)">
                    <div class="form-group">
                      <label for="fullname">Fullname</label>
                      <input type="text" #fullname='ngModel' ngModel="{{data.name}}" name="fullname" id="fullname"  class="form-control">

                    </div>
                    <div class="form-group">
                      <label for="photo"><img src="http://localhost:3000/{{data.photo}}" style="height: 80px"></label>
                      <input type="file" name="photo" id="photo"  class="form-control"  (change)="getfile($event)">
                    </div>
                    <div class="form-group">
                      <label for="discription">Discription</label>
                      <textarea name="discription" id="discription" #discription='ngModel' ngModel="{{data.discription}}" required="" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                      <input type="submit" value="submit" class="btn btn-dark btn-xl" [disabled]="(!usersignupform.valid)" >
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="../login" (click)="logout()">Logout <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" data-toggle="modal" data-target="#exampleMod" style="cursor: pointer">Done Services<span class="sr-only">(current)</span></a>
        <div class="modal fade" id="exampleMod" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" >Done Services</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" *ngFor="let data of prev ,let sr=index">
                <span><p><b>{{sr+1}}.</b></p><p><b>User Email :</b> {{data.useremail}}</p>&nbsp;&nbsp;<p><b>Date Of Service :</b> {{data.dateofser}}</p></span>
                <div>---------------------------------------------------</div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>

        </div>
            </li>
    </ul>
  </div>
</nav>
  <br>
  <br>
  <div class="container">
    <h2 *ngIf="paid.length>0" style="text-align: center">Pending Services</h2>
    <br>
<div class="row">
    <div *ngFor="let data of paid" class=" col-sm-6 col-md-6 mr-2 size mb-4"   >
      <div *ngIf="data.sta==='paid'">
      <div class="card">
      <div  class="card-body">
        <p><b>useremail :</b> {{data.useremail}}</p>
        <p><b>Work Duration :</b> {{data.nohour}} hours</p>
        <p><b>Work Date :</b> {{data.dateofser}}</p>
        <p><b>Status :</b> {{data.sta}}</p>
        <button type="button" class="btn btn-dark btn-xl" (click)="accept(data.id)">Service Done</button>
      </div>
    </div>
  </div>
  </div>
</div>
</div>
</div>
