<div class="background-photo">
<div class="container col-sm-6" style="color: white">
  <br><br>
  <br><br>
  <br><br>
  <h3 >&nbsp;&nbsp;&nbsp;Admin Change Password</h3>
  <br>
  <form #adminupdatepasswordform="ngForm" (ngSubmit)="updatepassword(adminupdatepasswordform.value)">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email"  name="email" readonly id="email" class="form-control" value="{{email}}">
    </div>
    <div class="form-group">
      <label for="currentpassword">Current Password</label>
      <input type="password" #currentpassword='ngModel' required="" ngModel="" name="currentpassword" id="currentpassword" class="form-control" >
      <label class="text-danger" *ngIf="currentpassword.touched&&currentpassword.errors&&currentpassword.errors.required">enter password</label>

    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" #password='ngModel' required="" ngModel="" name="password" id="password" class="form-control" >
      <label class="text-danger" *ngIf="password.touched&&password.errors&&password.errors.required">enter password</label>

    </div>
    <div class="form-group">
      <label for="password">Confirm Password</label>
      <input type="password" #confirmpassword='ngModel' required="" ngModel="" name="confirmpassword" id="confirmpassword"
             class="form-control" (blur)="checkpassword(password,confirmpassword)">
      <label class="text-danger" *ngIf="confirmpassword.touched&&confirmpassword.errors&&confirmpassword.errors.required">enter password</label>
      <label class="text-danger" *ngIf="passwordmatch">Password and confirm password not match</label>

    </div>
    <div class="form-group">
      <input type="submit" value="submit" class="btn btn-xl btn-light" [disabled]="!adminupdatepasswordform.valid" >
      <div [innerHTML]="ServerResponse"></div>
    </div>

  </form>
</div>
</div>
